@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.pagination .page-number {
  border: 1px solid #ddd;
  padding: 5px 10px;
  cursor: pointer;
 }
 
 .pagination .page-number.active {
  background-color: #007BFF;
  color: white;
 }
 
 .pagination .page-number.disabled {
  color: #ccc;
  cursor: not-allowed;
 }
 
 .pagination .previous, .pagination .next {
  font-weight: bold;
 }